/AOC_2022/BaseA/Day2.bak
/AOC_2022/BaseA/Day5.bak
/AOC_2022/BaseA/Day5IterativeMacro.bak
/AOC_2022/BaseA/Day5Macro.bak
/AOC_2022/BaseA/Day5Macro_MultiCrate.bak
/AOC_2022/BaseA/Day6.bak
/AOC_2022/BaseA/Day7.bak
/AOC_2022/BaseA/Day7GroupNestedDir.bak
/AOC_2022/BaseA/Day8.bak
/AOC_2022/BaseA/Day9.bak
/AOC_2022/BaseA/Day11.bak
/AOC_2022/BaseA/day11_Multi-RoundIterative.bak
/AOC_2022/BaseA/day11_Multi-RoundIterative_Part2.bak
/AOC_2022/BaseA/day11_RoundIterative.bak
/AOC_2022/BaseA/day11_RoundIterative_Part2.bak
/AOC_2022/BaseA/Day12.bak
/AOC_2022/BaseA/day12_IterativePart1.bak
/AOC_2022/BaseA/Download and save AoC Data.bak
/.idea/.gitignore
/.idea/AdventOfCode.iml
/AOC_2022/data/geckodriver.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/AOC_2022/BaseA/Day14.bak
/AOC_2022/BaseA/Day13.bak
/AOC_2022/BaseA/Day15.bak
/AOC_2022/BaseA/Day18.bak
/AOC_2022/BaseA/Day19.bak
/AOC_2022/BaseA/Day19_part1Iterative.bak
/AOC_2022/BaseA/Day19_part1Iterative_bruteForce.bak
/AOC_2022/BaseA/Day20.bak
/AOC_2022/BaseA/Day20_IterativeMacro.bak
/AOC_2022/BaseA/Day21.bak
/AOC_2022/BaseA/Day21_Part1Iterative.bak
/AOC_2022/BaseA/Day21_Part2Iterative.bak
/AOC_2022/BaseA/Day10.bak
